$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...
.controls {
  width: 340px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}

.guesser {
  height: 50px;
  width: 100%;
  font-size: 24px;
}

.checker {
  height: 50px;
  width: 100px;
  font-size: 24px;
  margin-top: 5px;
  align-self: flex-end;
}

.gameRoot {
  padding-left: 30px;
}
.game {
    display: flex;
}

.header {
  display: flex;
}

.title {
  position: absolute;
  margin-left: 150px;
}

.timer {
  margin-top: 50px;
  margin-bottom: 0;
}

.guessed .letter--highlighted {
  background-color: #f2ac9f;
}

.correct.guessed .letter--highlighted {
  background-color: #8cc174;
}

.pending.guessed .letter--highlighted {
  background-color: #aa1ed8;
}

.boardContainer {
  width: 350px;
}
.letter {
  display: inline-block;
  margin: 5px;
  padding: 5px 15px;
  font-size: 24px;
  text-transform: uppercase;
  border: 1px solid blue;
  background-color: #EEE;
  height: 60px;
  width: 60px;
}
.letter--highlighted {
  background-color: #cc33ff;
}

.foundWordContainer {
  font-size: 20px;
  padding-left: 50px;
}
